# Military Power Clustering Project
-World military power
Source : globalfirepower.com on 1st may 2020

- https://data.world/vizzup/world-military-power/workspace/file?filename=World+military+power.xlsx

# Import Libraries

In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
import pandas as pd

# Ingest Data

In [2]:
df = pd.read_excel("World military power.xlsx",header=[0,1])
df.head()

       2020 ranking                               Airforce Strength  \
  Military Strength Military Strength Power Index Aircraft Strength
0       Afghanistan                        1.3444       Afghanistan
1           Albania                        2.3137           Albania
2           Algeria                        0.4659           Algeria
3            Angola                        0.8379            Angola
4         Argentina                        0.6521         Argentina

                                                        \
  Aircraft Strength value Fighter/Interceptor Strength
0                   260.0                  Afghanistan
1                    19.0                      Albania
2                   551.0                      Algeria
3                   295.0                       Angola
4                   227.0                    Argentina

                                                               \
  Fighter/Interceptor Strength value Attack Aircraft Strength
0                                0.0              Afghanistan
1                                0.0                  Albania
2                              103.0                  Algeria
3                               72.0                   Angola
4                               24.0                Argentina

                                                                    \
  Attack Aircraft Strength value Transport Aircraft Fleet Strength
0                           25.0                       Afghanistan
1                            0.0                           Albania
2                           22.0                           Algeria
3                           18.0                            Angola
4                            7.0                         Argentina

                                           ...         Manpower  \
  Transport Aircraft Fleet Strength value  ... Total Population
0                                    30.0  ...      Afghanistan
1                                     0.0  ...          Albania
2                                    59.0  ...          Algeria
3                                    30.0  ...           Angola
4                                     9.0  ...        Argentina

                                      Geography                               \
  Total Population value Total Square Land Area Total Square Land Area value
0            3,49,40,837            Afghanistan                     6,52,230
1              30,57,220                Albania                      28748.0
2            4,16,57,488                Algeria                    23,81,741
3            3,03,55,880                 Angola                    12,46,700
4            4,46,94,198              Argentina                    27,80,400

                                                           \
  Total Coastline Coverage Total Coastline Coverage value
0              Afghanistan                            0.0
1                  Albania                          362.0
2                  Algeria                          998.0
3                   Angola                         1600.0
4                Argentina                         4989.0

                                                                               \
  Total Waterway Coverage Total Waterway Coverage value Total Border Coverage
0             Afghanistan                        1200.0           Afghanistan
1                 Albania                          41.0               Albania
2                 Algeria                           0.0               Algeria
3                  Angola                        1300.0                Angola
4               Argentina                       11000.0             Argentina


  Total Border Coverage value
0                      5987.0
1                       691.0
2                      6734.0
3                      5369.0
4                     11968.0

[5 rows x 60 columns]

# EDA

## Implement basic steps to see how is your data looks like

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.duplicated().sum()

In [ ]:
df.isna().sum().any()

## Convert multi index columns to one level

In [ ]:
df.columns

In [ ]:
df.columns = ['_'.join(tuple(map(str, t))) for t in df.columns.values]

In [ ]:
df.head()

## Detect and drop duplicated columns

In [ ]:
value_cols = [i[0] for i in df.columns.str.findall(".*value") if i !=[]]

value_cols

In [ ]:
value_df = df[value_cols].copy()
value_df.insert(0, "country",df["2020 ranking_Military Strength"])
value_df.insert(1, "Military Strength Power Index", df["2020 ranking_Military Strength Power Index"])
value_df.head()

## Check for missing values

In [ ]:
df.isnull().sum().sort_values(ascending=False)

In [ ]:
df.isnull().melt(value_name="missing")

## Deal with missing values 
* Hint-1, use wikipedia to fill in missing values â€‹â€‹comparing with similar countries
* Hint-2, Georeferences of countries can help you

In [ ]:
value_df.loc[value_df["Geography_Total Coastline Coverage value"].isnull(), ['country',
                                                                             'Navy Strength_Navy Fleet Strengths value',
                                                                             'Navy Strength_Aircraft Carrier Fleet Strength value',
                                                                             'Navy Strength_Submarine Fleet Strength value',
                                                                             'Navy Strength_Destroyer Fleet Strength value',
                                                                             'Navy Strength_Frigate Fleet Strength value',
                                                                             'Geography_Total Waterway Coverage value']]

In [ ]:
value_df.loc[
    
    value_df["Geography_Total Coastline Coverage value"].isnull(),
    
    ['Navy Strength_Navy Fleet Strengths value',
     'Navy Strength_Aircraft Carrier Fleet Strength value',
     'Navy Strength_Submarine Fleet Strength value',
     'Navy Strength_Destroyer Fleet Strength value',
     'Navy Strength_Frigate Fleet Strength value']
    
    ] = 0

In [ ]:
value_df.loc[value_df['Navy Strength_Aircraft Carrier Fleet Strength value'].isnull()|
             value_df['Navy Strength_Submarine Fleet Strength value'].isnull()|
             value_df['Navy Strength_Destroyer Fleet Strength value'].isnull()|
             value_df['Navy Strength_Frigate Fleet Strength value'].isnull()]

In [ ]:
value_df.loc[value_df["country"] == "Uzbekistan",
            ['Navy Strength_Navy Fleet Strengths value',
             'Navy Strength_Aircraft Carrier Fleet Strength value',
             'Navy Strength_Submarine Fleet Strength value',
             'Navy Strength_Destroyer Fleet Strength value',
             'Navy Strength_Frigate Fleet Strength value',
           ]]

In [ ]:
value_df.loc[value_df["country"] == "Uzbekistan",
            ['Navy Strength_Navy Fleet Strengths value',
             'Navy Strength_Aircraft Carrier Fleet Strength value',
             'Navy Strength_Submarine Fleet Strength value',
             'Navy Strength_Destroyer Fleet Strength value',
             'Navy Strength_Frigate Fleet Strength value',
           ]] = 0

In [ ]:
value_df.loc[((value_df['Navy Strength_Navy Fleet Strengths value'] > 200) & 
             (value_df['Navy Strength_Navy Fleet Strengths value'] < 250)),
            ['country',
             'Navy Strength_Navy Fleet Strengths value',
             'Navy Strength_Aircraft Carrier Fleet Strength value',
             'Navy Strength_Submarine Fleet Strength value',
             'Navy Strength_Destroyer Fleet Strength value',
             'Navy Strength_Frigate Fleet Strength value',
           ]]

In [ ]:
value_df.loc[value_df["country"] == "France",
             ['country',
             'Navy Strength_Navy Fleet Strengths value',
             'Navy Strength_Aircraft Carrier Fleet Strength value',
             'Navy Strength_Submarine Fleet Strength value',
             'Navy Strength_Destroyer Fleet Strength value',
             'Navy Strength_Frigate Fleet Strength value',
           ]]

In [ ]:

value_df.loc[value_df["country"] == "South Korea",'Navy Strength_Aircraft Carrier Fleet Strength value'] = 2
value_df.loc[value_df["country"] == "South Korea",'Navy Strength_Submarine Fleet Strength value'] = 19
value_df.loc[value_df["country"] == "South Korea",'Navy Strength_Destroyer Fleet Strength value'] = 12
value_df.loc[value_df["country"] == "South Korea",'Navy Strength_Frigate Fleet Strength value'] = 12

In [ ]:
value_df.loc[value_df['Geography_Total Coastline Coverage value'].isnull()]

In [ ]:
value_df.loc[value_df['Geography_Total Coastline Coverage value'].isnull(), 
                      'Geography_Total Coastline Coverage value']  = 0

In [ ]:
value_df.loc[value_df['Geography_Total Border Coverage value'].isnull()]

In [ ]:
value_df.loc[value_df['Geography_Total Border Coverage value'].isnull(), 
                      'Geography_Total Border Coverage value' ] = 0

In [ ]:
value_df.reset_index(drop=True,inplace=True)

## Fix the dtypes

In [ ]:
value_df.info()

In [ ]:
value_df.select_dtypes("object")

In [ ]:
value_df.select_dtypes("object")["Natural resources_Oil Production value"].str.replace(",","")

In [ ]:
columns = value_df.select_dtypes("object").columns
columns

In [ ]:
for col in columns[1:]:
    value_df[col]  = value_df[col].astype("str")
    value_df[col]  = value_df.select_dtypes("object")[col].str.replace(',','')
    value_df[col]  = value_df[col].astype("float")

In [ ]:
 value_df.select_dtypes("object")

## Drop the features that not affect military power
* Hint-1,  Georeferences not proper features

In [ ]:
value_df.drop(['Geography_Total Square Land Area value',
               'Geography_Total Coastline Coverage value',
               'Geography_Total Waterway Coverage value',
               'Geography_Total Border Coverage value'],axis=1,inplace=True)

## Visualy inspect the some features

In [ ]:
import plotly.express as px

In [ ]:
fig = px.bar(value_df,x= "country" , y = value_df["Airforce Strength_Aircraft Strength value"])
fig.show()

In [ ]:
fig = px.box(value_df, x = value_df["Airforce Strength_Aircraft Strength value"],
             hover_name=value_df["country"])
fig.show()

In [ ]:
fig = px.bar(value_df,x= "country" , y = value_df['Navy Strength_Navy Fleet Strengths value'])
fig.show()

In [ ]:
fig = px.box(value_df, x = value_df["Navy Strength_Navy Fleet Strengths value"],
             hover_name=value_df["country"])

fig.show()

In [ ]:
fig = px.bar(value_df,x= "country" , y = value_df['Land Strength_Tank Strength value'])
fig.show()

In [ ]:
fig = px.box(value_df, x = value_df["Land Strength_Tank Strength value"],
             hover_name=value_df["country"])

fig.show()

In [ ]:
import plotly.graph_objects as go

fig = go.Figure()
fig.add_trace(go.Box(x=value_df["Finances_External Debt value"],
              hovertext=value_df["country"],
              name = "Finances_External Debt value")
             )
fig.add_trace(go.Box(x=value_df["Finances_defense spending budget value"],
                     hovertext=value_df["country"],
                    name = "Finances_defense spending budget value")
             )

fig.show()

## Decriptive statistics

In [ ]:
value_df.describe().T

In [ ]:
fig = px.imshow(value_df.corr())
fig.show()

# Data Preprocessing

In [ ]:
from sklearn.preprocessing import StandardScaler, RobustScaler,MinMaxScaler
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)
from sklearn.cluster import KMeans

In [ ]:
X = value_df.drop(["country"], axis=1)

In [ ]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Modelling

## Hopkins Test 
#### Assess the clusterability of a dataset. A score between 0 and 1, a score around 0.5 express no clusterability, a score tending to 1 express an uniform distrubution so clustering can't be useful and  0 express  not an uniform distrubution hence clusterering can be useful.

In [ ]:
from pyclustertend import hopkins

In [ ]:
hopkins(X, X.shape[0])

## Clustering with K-means

### Elbow Method 
### We use this method to find optimal k value by looking up to break point of graph.

In [ ]:
ssd = [] # sum of squared distance

K = range(2,10)

for k in K:
    model = KMeans(n_clusters=k)
    model.fit(X)
    ssd.append(model.inertia_)

In [ ]:
plt.plot(K, ssd, "bo-")
plt.xlabel("Different k values")
plt.ylabel("inertia-error") 
plt.title("elbow method")

In [ ]:
df1_diff =pd.DataFrame(-pd.Series(ssd).diff()).rename(index = lambda x : x+1)
df1_diff

In [ ]:
df1_diff.plot(kind='bar')

In [ ]:
from yellowbrick.cluster import KElbowVisualizer
kmeans = KMeans()
visu = KElbowVisualizer(kmeans, k = (2,10))
visu.fit(X)
visu.poof()

In [ ]:
from sklearn.metrics import silhouette_score

silhouette_score(X, kmeans.labels_)

In [ ]:
range_n_clusters = range(2,9)
for num_clusters in range_n_clusters:
    # intialise kmeans
    kmeans = KMeans(n_clusters=num_clusters, random_state=101)
    kmeans.fit(X)
    cluster_labels = kmeans.labels_
    # silhouette score
    silhouette_avg = silhouette_score(X, cluster_labels)
    print(f"For n_clusters={num_clusters}, the silhouette score is {silhouette_avg}")

### Model Building and label visualisation

In [ ]:
model = KMeans(n_clusters=4)
model.fit(X)

In [ ]:
model.inertia_

In [ ]:
model.labels_

In [ ]:
value_df["cluster"] = model.labels_

In [ ]:
plt.figure(figsize=(10,5))
sns.scatterplot(value_df["Airforce Strength_Aircraft Strength value"], 
                value_df["Navy Strength_Navy Fleet Strengths value"], hue= value_df.cluster,palette= "viridis");

In [ ]:
fig = px.scatter_3d(x=value_df["Airforce Strength_Aircraft Strength value"],
                   y=value_df["Finances_defense spending budget value"],
                   z=value_df["Finances_External Debt value"],
                   color=value_df.cluster,
                   labels = {"x": "Airforce Strength_Aircraft Strength value",
                             "y": "Finances_defense spending budget value",
                             "z": "Finances_External Debt value"},
                   hover_name=value_df["country"])

fig.show()

In [ ]:
centroids = model.cluster_centers_

plt.scatter(X[:,18], X[:,19], c = value_df.cluster, s = 50, cmap = "viridis")
plt.scatter(centroids[:,18], centroids[:,19], c = "black", s = 200, alpha=0.5);

In [ ]:
plt.figure(figsize=(15,10))
plt.title("Cluster Count")
ax1 = sns.countplot(x = value_df.cluster)

for p in ax1.patches:
    ax1.annotate(
        s=f"{p.get_height():1.0f}",
        xy=(p.get_x() + p.get_width() / 2., p.get_height()), 
        xycoords='data',
        ha='center', 
        va='center', 
        fontsize=11, 
        color='black',
        xytext=(0,7), 
        textcoords='offset points',
        clip_on=True,                   # <---  important
    )
plt.show();

### Evaluate

In [ ]:
from sklearn.metrics import silhouette_score

In [ ]:
print(f'Silhouette Score(n=4): {silhouette_score(X, value_df.cluster)}') # towards to 1 means, data good clustered by model

In [ ]:
range_n_clusters = range(2,9)
for num_clusters in range_n_clusters:
    # intialise kmeans
    kmeans = KMeans(n_clusters=num_clusters, random_state=42)
    kmeans.fit(X)
    cluster_labels = kmeans.labels_
    # silhouette score
    silhouette_avg = silhouette_score(X, cluster_labels)
    print(f"For n_clusters={num_clusters}, the silhouette score is {silhouette_avg}")

In [ ]:
den = pd.DataFrame(X,columns=value_df.drop(["country","cluster"],axis=1).columns)
den["cluster"] = value_df["cluster"]

clus_pred = den.groupby("cluster").mean().T
clus_pred

In [ ]:
fig= px.line(clus_pred)
fig.show()

## Hierarchical Clustering

### Dendogram

### Model Building and label visualisation

### Evaluate